aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
.deps/
.dirstamp
/ofdm-transfer
install-sh
.libs/
libtool
ltmain.sh
m4/
Makefile
Makefile.in
missing
test-driver
test-suite.log
tests/test-library
tests/test-library.log
tests/test-library.trs
tests/test-program.sh.log
tests/test-program.sh.trs
*.la
*.lo
*.o
