aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
.deps/
.dirstamp
/ofdm-transfer
install-sh
.libs/
libtool
ltmain.sh
m4/
Makefile
Makefile.in
missing
test-driver
test-suite.log
tests/test-library-file
tests/test-library-file.log
tests/test-library-file.trs
tests/test-library-callback
tests/test-library-callback.log
tests/test-library-callback.trs
tests/test-program.sh.log
tests/test-program.sh.trs
*.la
*.lo
*.o
