ABOUT-NLS
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
.deps/
.dirstamp
examples/duplex
examples/echo-server
install-sh
.libs/
libtool
ltmain.sh
m4/
Makefile
Makefile.in
missing
po/*.gmo
po/*.mo
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/quot.sed
po/remove-potcdate.sin
po/remove-potcdate.sed
po/Rules-quot
po/stamp-po
src/ofdm-transfer
test-driver
test-suite.log
tests/test-library-file
tests/test-library-file.log
tests/test-library-file.trs
tests/test-library-callback
tests/test-library-callback.log
tests/test-library-callback.trs
tests/test-program.sh.log
tests/test-program.sh.trs
*.la
*.lo
*.o
*~
